/* body {
  padding: 70px;
} */
button {
  margin-left:  5px;
}

input {
  margin: 10px
}

.complete {
  text-decoration: line-through;
}

.ant-list-item{
  cursor: pointer;
}
.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
  margin: 30px;
  margin-top: 80px;


}